/* Variables globales */
:root {
	--main-color: white;
	--secondary-color:royalblue;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

/* Accueil */
.home {
	height: 100vh;
	width: 100%;
	background-image: url(../img/back.png);
	background-size: cover;
	background-position: center;
}

nav {
	position: fixed;
	width: 100%;
	display: flex;
	font-size: 20px;
	background-color: black;
	align-items: center;
	justify-content: space-between;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 1;
	opacity: 0.9;
}
.logo {
	padding-left: 8%;
}
.logo .imglogo{
	width: 90px;
	height: 85px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
}

nav ul li a {
	text-decoration: none;
	color: var(--main-color);
	font-weight: bold;
	transition: color 0.4s ease;
}

nav ul li a:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

.menu-btn{
	color: var(--main-color);
	font-size: 40px;
	display: none;
	cursor: pointer;
}

.btn {
	background-color: var(--secondary-color);
	color: var(--main-color);
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .1s;
}

.btn:hover {
	transform: scale(1.1);
	color: var(--main-color);
	background-color: var(--secondary-color);
	border: solid 2px var(--main-color);
}

.btn:visited {
	color: var(--main-color);
	background-color: var(--secondary-color);
}

.content {
	animation: movetoleft 1s forwards;
	position: absolute;
	color: var(--main-color);
	top: 30%;
}

.content h2 {
	font-size: 65px;
	margin: 20px;
}

.content h4 {
	font-size: 28px;
	margin: 20px;
}

.reseaux {
	animation: movetoleft 1s forwards;
	position: absolute;
	top: 50%;
}

.logoreseau {
	margin: 25px;
	justify-content: space-between;
	width: 100px;
	height: 100px;
}

.about {
	width: 100%;
	padding: 20px;
	background-color: #191919;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about img {
	height: auto;
	width: 500px;
	border: 1px solid;
}

.description {
	width: 50%;
	color: var(--main-color);
}

.description h2 {
	color: var(--secondary-color);
	font-size: 45px;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.description p {
	color: azure;
	text-align: justify;
	line-height: 40px;
	font-size: 28px;
	margin-bottom: 45px;
}

.up{
	position: fixed;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 30px;
	align-items: center;
	background: var(--secondary-color);
	color: var(--main-color);
	bottom: -40px;
	right: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.up.show{
	opacity: 1;
	pointer-events: auto;
	bottom: 5px;
}

/* Responsive */
@media (max-width: 1430px){
	.nav{
		position: fixed;
		opacity: 1;
	}

	.nav .ul{
		position: fixed;
		opacity: 0.9;
		background: #191919;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		text-align: left;
		padding-top: 80px;
		transition: all 0.2s ease;
	}
	
	.nav .ul.active{
		left: 0px;
	}

	.nav .ul li {
		display: block;
		margin-bottom: 60px;
		font-size: 25px;
	}
	.nav .ul li a{
		display: inline-block;
	}

	.btn {
		text-decoration: none;
		background: none;
		border: none;
		padding: 0;
		border-radius: 0px;
		transition: none;
		font-size: 25px;
	}
	
	.menu-btn{
		display: block;
		z-index: 99;
	}

	.description p {
		font-size: 30px;
		margin-right: 30px;
		margin-left: -40px;
	}
}

@media (max-width: 1162px){
	.about {
		text-align: center;
		display: block;
		padding: 5px;
		margin: 1px;
		background-color: #191919;
		width: 100%;
	}

	.about .description {
		align-items: center;
		justify-content: center;
		padding: 60px;
		width: 100%;
		color: var(--main-color);
		font-size: 30px;
	}
	.content {
		top: 30%;
	}
	.reseaux {
		top: 55%;
	}
}

@media (max-width: 1030px){
	.about {
		padding: 0px;
		margin: 0px;
	}	
}

@media (max-width: 880px) and (max-height: 1430px){
	.home {
		height: 80vh;
	}

	.content {
		top: 20%;
		animation: none;
	}
	.content h2 {
		font-size: 65px;
		margin: 25px;
	}
	
	.content h4 {
		font-size: 40px;
		margin: 25px;
	}

	.reseaux {
		animation: none;
		margin: 10px;
		top: 40%;
	}
	
	.logoreseau {
		margin: 20px;
		justify-content: space-between;
		width: 120px;
		height: 120px;
	}

	.description p {
		text-align: left;
		font-size: 28px;
		margin-left: -50px;
		margin-right: -50px;
	}
}

@media (max-width: 470px){
	.home {
		height: 99vh;
	}
	.logo .imglogo {
		width: 65px;
		height: 60px;
	}
	.content {
		top: 20%;
		animation: none;
		display: block;
	}
	.content h2 {
		font-size: 35px;
		margin: 10px;
	}
	.content h4 {
		font-size: 20px;
		margin: 10px;
	}
	.reseaux {
		animation: none;
		top: 40%;
	}
	.logoreseau {
		margin: 3px;
		justify-content: space-between;
		width: 60px;
		height: 60px;
	}	
	.about img {
		height: auto;
		width: 300px;
		border: none;
	}
	
	.description h2 {
		font-size: 32px;
		margin-bottom: 30px;
	}
	
	.description p {
		font-size: 20px;
		line-height: 30px;
		margin-left: -40px;
		margin-right: -50px;
	}	
}

@media (max-width: 300px){
	.reseaux {
		top: 45%;
	}
	.logoreseau {
		margin: 3px;
		width: 55px;
		height: 55px;
	}
	.description p {
		margin-left: -50px;
		margin-right: -50px;
	}
}

@media (orientation: landscape) and (max-width: 1430px){
	.home {
		height: 100vh;
	}

	.content {
		animation: none;
		top: 20%;
	}
	
	.content h2 {
		font-size: 65px;
		margin: 10px;
	}
	
	.content h4 {
		font-size: 35px;
		margin: 10px;
	}

	.reseaux {
		animation: none;
		top: 60%;
		margin-left: -8px;
	}

	.logoreseau {
		margin-right: 15px;
		justify-content: space-between;
		width: 70px;
		height: 70px;
	}
}

/* Animations */
@keyframes movetoleft {
	0% {
		transform: translate(-100%)
	}

	50% {
		transform: translate(25%)
	}

	100% {
		transform: translate(19%)
	}
}