/* Variables globales */
:root {
	--main-color: white;
	--secondary-color:royalblue;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

/* Projet */
.projet {
	height: 100vh;
	width: 100%;
	background: url("../img/maintenance.png") no-repeat center ;
}

nav {
	position: fixed;
	width: 100%;
	display: flex;
	font-size: 20px;
	background-color: black;
	align-items: center;
	justify-content: space-between;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 1;
	opacity: 0.9;
}
.logo {
	padding-left: 8%;
}
.logo .imglogo{
	width: 90px;
	height: 85px;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
}

nav ul li a {
	text-decoration: none;
	color: var(--main-color);
	font-weight: bold;
	transition: color 0.4s ease;
}

nav ul li a:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

.menu-btn{
	color: var(--main-color);
	font-size: 40px;
	display: none;
	cursor: pointer;
}

.btn {
	background-color: var(--secondary-color);
	color: var(--main-color);
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .1s;
}

.btn:hover {
	transform: scale(1.1);
	color: var(--main-color);
	background-color: var(--secondary-color);
	border: solid 2px var(--main-color);
}

.btn:visited {
	color: var(--main-color);
	background-color: var(--secondary-color);
}

/* Responsive */
@media (max-width: 1430px){
	.nav{
		position: fixed;
		opacity: 1;
	}
	.nav .ul{
		position: fixed;
		background: #191919;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		text-align: left;
		padding-top: 80px;
		transition: all 0.2s ease;
	}
	
	.nav .ul.active{
		left: 0px;
	}

	.nav .ul li {
		display: block;
		margin-bottom: 60px;
		font-size: 25px;
	}
	.nav .ul li a{
		display: inline-block;
	}

	.btn {
		text-decoration: none;
		background: none;
		border: none;
		padding: 0;
		border-radius: 0px;
		transition: none;
		font-size: 25px;
	}
	
	.menu-btn{
		display: block;
		z-index: 99;
	}
}

@media (max-width: 1162px){
	.content {
		top: 30%;
	}
}

@media (max-width: 1030px){
	
}

@media (max-width: 880px) and (max-height: 1430px){
	.home {
		height: 80vh;
	}

	.content {
		top: 20%;
		animation: none;
	}
	
}

@media (max-width: 470px){
	.logo .imglogo {
		width: 65px;
		height: 60px;
	}
}

@media (max-width: 300px){

}

@media (orientation: landscape) and (max-width: 1430px){
	.home {
		height: 100vh;
	}

	.content {
		animation: none;
		top: 20%;
	}
}
