/******************************************************** VARIABLES GLOBALES ********************************************************/
:root {
	--main-text: white;
	--secondary-text: rgb(0, 128, 255);
	--background-home: #191919;
	--background-profil: black;
	--background-nav: var(--background-profil);
	--fondue: 0.5s;
	--main-butplus: gray;
	--second-butplus: white;
}

#theme {
	cursor: pointer;
	transition: var(--fondue);
	color: var(--main-text);
}
\gimiweb.gimicloud.fr\compte\sepa
/********************************************************* CONFIG GÉNÉRALE **********************************************************/
html {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

body {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: auto;
	margin: auto;
	overflow: hidden;
}

.section_title {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	
}

.section_title h2 {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	font-size: 60px;
	border-top: solid 2px var(--secondary-text);
	border-bottom: solid 2px var(--secondary-text);
	letter-spacing: 30px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: var(--secondary-text);
	text-shadow: 1px 2px 10px var(--secondary-text);
	transition: var(--fondue);
}

.up {
	transition: var(--fondue);
	position: fixed;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 30px;
	align-items: center;
	background: var(--secondary-text);
	color: var(--main-text);
	bottom: -40px;
	right: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
}

.up.show {
	opacity: 1;
	pointer-events: auto;
	bottom: 5px;
}

/********************************************************** ACCUEIL ***********************************************************/
.accueil {
	height: 100vh;
	width: 100%;
}

.accueil_video {
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

.accueil_notif {
	position: absolute;
	color: var(--main-text);
	top: 10%;
	overflow: hidden;
	background-color: rgba(50, 50, 200, 0.2);
	box-shadow: rgba(10, 10, 250) 1px 1px 15px 1px;
	border-radius: 40px;
	align-items: center;
	margin: auto;
	left: 0;
	right: 0;
	width: 90%;
	height: auto;
}

.accueil_notif_text {
	animation: moveaccueil_msg 15s forwards;
	animation-timing-function: linear;
	margin: 0;
	color: var(--main-text);
	font-size: 20px;
	top: 10%;
}

.accueil_content {
	animation: movetoleft 2s forwards;
	position: absolute;
	display: inline-block;
	color: var(--main-text);
	margin: auto;
	bottom: 50%;
	right: 0;
	text-align: center;
	left: 0;
	width: auto;
}

.accueil_content h2 {
	font-size: 55px;
	margin: 1px;
}

.accueil_content p {
	font-size: 38px;
	margin: 1px;
}

.button_decouvrir {
	position: absolute;
	background: transparent;
	margin: auto;
	right: 0;
	bottom: 20%;
	left: 0;
	width: 300px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	font-weight: 100;
	overflow: hidden;
	color: var(--second-butplus);
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: var(--fondue);
}


.button_decouvrir:hover {
	transform: scale(1.2);
	color: var(--main-text);
	border-radius: 2px;
	box-shadow: var(--secondary-text) 1px 1px 20px 1px;
	animation: none;
	text-shadow: 1px 1px 2px var(--secondary-text), 0 0 1em var(--secondary-text), 0 0 0.2em var(--secondary-text);
}

.button_decouvrir span {
	position: absolute;
}

.button_decouvrir span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, var(--main-butplus), var(--second-butplus));
	animation: 2s animateTop infinite;
}

.button_decouvrir span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: linear-gradient(to top, var(--main-butplus), var(--second-butplus));
	animation: 2s animateRight linear -1s infinite;
}

.button_decouvrir span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, var(--main-butplus), var(--second-butplus));
	animation: 2s animateBottom infinite;
}

.button_decouvrir span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: linear-gradient(to bottom, var(--main-butplus), var(--second-butplus));
	animation: 2s animateLeft linear -1s infinite;
}


/************************************************************** MENU **************************************************************/
nav {
	position: fixed;
	width: 100%;
	display: flex;
	font-size: 20px;
	transition: var(--fondue);
	background-color: var(--background-nav);
	align-items: center;
	justify-content: space-between;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 1;
	opacity: 0.9;
	animation: movingMenu ease 1s forwards;
}

.logo {
	padding-left: 5%;
}

.logo .imglogo {
	width: 90px;
	height: 85px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	width: 120px;
	color: var(--main-text);
}

nav ul li:hover {
	transition: var(--fondue);
	cursor: pointer;
	color: var(--secondary-text);
}

nav ul li:hover a {
	animation: movingTopToBottomMenu .5s ease forwards;
	opacity: 1;
	color: var(--secondary-text);
	transition: var(--fondue);
}

nav ul li a {
	text-decoration: none;
	color: var(--main-text);
	font-weight: bold;
	display: block;
	margin-top: -30px;
	opacity: 0;
}

.menu-btn {
	transition: var(--fondue);
	color: var(--main-text);
	font-size: 40px;
	display: none;
	cursor: pointer;
}

/* .btn {
	transition: var(--fondue);
	background-color: var(--secondary-text);
	color: var(--main-text);
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .1s;
}

.btn:hover {
	transform: scale(1.1);
	transition: var(--fondue);
	color: var(--main-text);
	background-color: var(--secondary-text);
	border: solid 2px var(--main-text);
}

.btn:visited {
	color: var(--main-text);
	background-color: var(--secondary-text);
} */

/********************************************************** PARAMÈTRE **********************************************************/
.parametre {
	position: fixed;
	top: 13%;
	right: -200px;
	width: 200px;
	height: 100px;
	background: var(--background-nav);
	color: var(--main-text);
	display: flex;
	padding: 10px;
	justify-content: space-between;
	transition: var(--fondue);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	opacity: 0.9;
	z-index: 1;
}

.parametre.open {
	right: 0px;
}

#paramsicon {
	color: var(--main-text);
	font-size: x-large;
	cursor: pointer;
	transition: var(--fondue);
}

.parametre #paramsicon {
	width: 30px;
	height: 30px;
	padding: 3px;
	top: 0;
	background: var(--background-nav);
	position: absolute;
	left: -30px;
	transition: var(--fondue);
}

.parametre_option {
	font-size: 20px;
}

.parametre_option i {
	cursor: pointer;
	margin-left: 5px;
	font-size: large;
}

.rouge{
	color: red;
}

.vert{
	color: lime;
}

.bleu{
	color: rgb(0, 128, 255);
}

/************************************************************ PROFIL ************************************************************/
.profil {
	padding-top: 150px;
	width: 100%;
	transition: var(--fondue);
	background-color: var(--background-home);
	background-attachment: fixed;
}

.profil_content {
	padding: 100px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	align-items: center;
	justify-content: space-around;
}

.profil img {
	float: right;
	width: 350px;
	border-left: solid 2px var(--secondary-text);
	border-right: solid 2px var(--secondary-text);
	border-radius: 100%;
	transition: var(--fondue);
}

.profil_description {
	width: 60%;
	float: left;
	transition: var(--fondue);
	color: var(--main-text);
}

.profil_description p {
	transition: var(--fondue);
	color: var(--main-text);
	text-align: justify;
	line-height: 28px;
	font-size: 24px;
}

/*********************************************************** COMPÉTENCE **********************************************************/
.competence {
	width: 100%;
	height: auto;
	background-image: url(../img/fondtechno.png);
	background-size: cover;
	background-attachment: fixed;
}

.competencebackground {
	background-color: rgba(0, 0, 0, 0.5);
}

.contentcomp {
	color: var(--main-text);
	display: flex;
	padding-top: 80px;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.categorie {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 300px;
	height: auto;
	margin: 30px;
	border-radius: 30px;
	backdrop-filter: blur(5px);
	box-shadow: rgba(14, 30, 37, 0.4) 0px 2px 4px 0px, rgba(14, 30, 37, 0.52) 0px 2px 16px 0px;
}

.categorie .title {
	text-align: center;
	color: var(--secondary-text);
}

.categorie .item {
	font-size: 20px;
	font-weight: bold;
	color: var(--main-text);
	margin-top: 10px;
}

.legend {
	float: left;
	width: 100%;
	background: black;
	padding: 10px;
}


/*********************************************************** RESPONSIVE ***********************************************************/
@media (max-width: 1030px) {
	.section_title h2 {
		width: auto;
		padding: auto;
		font-size: 10px;
	}

	.parametre {
		display: none;
	}

	.nav {
		position: fixed;
		opacity: 1;
	}

	.nav .ul {
		position: fixed;
		background: var(--background-home);
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		text-align: left;
		padding-top: 80px;
		transition: all 0.2s ease;
	}

	.nav .ul.active {
		left: 0px;
	}

	.nav .ul li {
		display: block;
		margin-bottom: 80px;
		font-size: 25px;
	}

	.nav .ul li a {
		display: inline-block;
	}

	.menu-btn {
		display: block;
		z-index: 99;
	}
}

/*********************************************************** ANIMATIONS ***********************************************************/
@keyframes animateTop {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@keyframes animateRight {
	0% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}

	100% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}
}

@keyframes animateBottom {
	0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	100% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

@keyframes animateLeft {
	0% {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
	}

	100% {
		-webkit-transform: translateY(100%);
		transform: translateY(100%);
	}
}

@keyframes movetoleft {
	0% {
		transform: translate(-100%)
	}

	50% {
		transform: translate(1%)
	}

	100% {
		transform: translate(0%)
	}
}

@keyframes moveaccueil_msg {
	0% {
		transform: translate(110%)
	}

	100% {
		transform: translate(-110%)
	}
}

@keyframes movingTopToBottomMenu {
	0% {
		margin-top: -25px;
	}

	100% {
		margin-top: -10px;
	}
}

@keyframes movingMenu {
	0% {
		top: -80px;
	}

	100% {
		top: 0px;
	}
}