/* Variables globales */
:root {
	--main-color: white;
	--secondary-color:royalblue;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

.home {
	height: 100vh;
	width: 100%;
	background-image: url(../img/back.png);
	background-size: cover;
	background-position: center;
}

nav {
	position: fixed;
	width: 100%;
	display: flex;
	font-size: 20px;
	background-color: black;
	align-items: center;
	justify-content: space-between;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 1;
	opacity: 0.9;
}

.logo {
	color: var(--main-color);
	font-size: 30px;
	letter-spacing: 3px;
	color: var(--secondary-color);
	font-weight: bolder;
	font-size: 40px;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 35px;
}

nav ul li a {
	text-decoration: none;
	color: var(--main-color);
	font-weight: bold;
	text-transform: capitalize;
	transition: color 0.4s ease;
}

nav ul li a:hover {
	color: var(--secondary-color);
	cursor: pointer;
}

.menu-btn{
	color: var(--main-color);
	font-size: 40px;
	display: none;
}

.btn {
	background-color: var(--secondary-color);
	color: var(--main-color);
	text-decoration: none;
	border: 2px solid transparent;
	padding: 10px;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .1s;
}

.btn:hover {
	transform: scale(1.1);
	color: var(--main-color);
	background-color: var(--secondary-color);
	border: solid 2px var(--main-color);
}

.btn:visited {
	color: var(--main-color);
	background-color: var(--secondary-color);
}

.content {
	animation: movetoleft 1s forwards;
	position: absolute;
	color: var(--main-color);
	top: 40%;
}

.content h2 {
	font-size: 70px;
	margin: 20px 0px 20px;
}

.content h4 {
	font-size: 30px;
	margin-bottom: 50px;
}

.reseaux {
	animation: movetoleft 1s forwards;
	position: absolute;
	top: 65%;
}

.logoreseau {
	margin: 20px;
	justify-content: space-between;
	width: 80px;
	height: 80px;
}

.about {
	width: 100%;
	padding: 20px;
	background-color: #191919;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about img {
	height: auto;
	width: 500px;
	border: 1px solid;
}

.description {
	width: 50%;
	color: var(--main-color);
}

.description h2 {
	color: var(--secondary-color);
	font-size: 45px;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.description p {
	color: azure;
	text-align: justify;
	line-height: 40px;
	font-size: 28px;
	margin-bottom: 45px;
}

.description p a {
	color: var(--secondary-color);
	text-decoration: none;
	cursor: pointer;
}

.description p a:hover {
	color: var(--main-color);
	cursor: pointer;
}

.up{
	position: fixed;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 30px;
	align-items: center;
	background: var(--secondary-color);
	color: var(--main-color);
	bottom: -40px;
	right: 5px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.up.show{
	opacity: 1;
	pointer-events: auto;
	bottom: 5px;
}

.parcours {
	height: 100vh;
	width: 100%;
	background-color: silver;
}

.projet {
	height: 100vh;
	width: 100%;
	background-color: grey;
}

.competence {
	height: 100vh;
	width: 100%;
	background-color: gray;
}


/* Responsive */

@media (max-width: 1430px){
	nav{
		position: fixed;
	}
	
	nav ul li {
		display: none;
	}
	
	.menu-btn{
		display: block;
	}
}

@media (max-width: 1162px){
	.about {
		text-align: center;
		display: block;
		padding: 5px;
		margin: 1px;
		background-color: #191919;
		width: 100%;
	}

	.about .description {
		align-items: center;
		justify-content: center;
		padding: 60px;
		width: 100%;
		color: var(--main-color);
		font-size: 30px;
	}
}

@media (max-width: 1030px){
	.description p {
		line-height: 30px;
		font-size: 24px;
		margin-bottom: 1px;
	}
}

@media (max-width: 770px){
	.description p {
		line-height: 30px;
		font-size: 22px;
		margin-bottom: 1px;
	}
}

@media (max-width: 450px){
	body{
		/* margin-right: -100px; */
		border: none;
	}
}


/* Animations */
@keyframes movetoleft {
	0% {
		transform: translate(-100%)
	}

	50% {
		transform: translate(25%)
	}

	100% {
		transform: translate(19%)
	}
}